*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins'sans-serif;
}
:root{
  --main-color: #B5C0D0;
  --text-color:#171427;
  --bg-color: #fff;
}
body{
  width: 100%;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-color);
  box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
}
header input{
 padding: 5px;
 border-radius: 20px;
 outline: none;
 
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}
nav li ,a{
  list-style: none;
  padding-right: 20px;
  text-decoration: none;
}
nav li a:hover{
  border-bottom: crimson;
}
.login{
  position: fixed;
  top: 0;
  right: 100%;
  width: 320px;
  margin-top: 5%;
  margin-right: 1%;
  min-height: 60vh;
  padding: 10px;
  background: var(--main-color);
  box-shadow: -2px 0 4px  hsl(0 4% 15% / 10%);
  border-radius: 20px;
}
#Close-r{
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  cursor: pointer;
  color: var(--text-color);
}
  .login.active{
    right: 0;
  }
.login h2{
  text-align: center;
  margin-top: 10px;
}
.search.active{
  right: 0;
}
label{
  display: block;
}
.form{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#username{
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
}
#lasn{
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
}
#email{
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
}
#password{
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
}
#comfirm{
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
}
#btnSign{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 5px;
}
#btnSign:hover{
  background-color: var(--text-color);
  color: var(--bg-color);
} h2{
  text-align: center;
}
.product-img img{
  width: 200px;
  height: 200px;
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sidebar{
  width: 25%;
  border: 1 solid #eee;
  padding: 15px;
  height: 80vh;
  box-shadow: 0px 0px 3px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.data{
  width: 73%;
  border-radius: 3px;
  height: 80vh;
  overflow-y: auto;
}
.fa-circle{
  color: orangered;
}
.searchbar{
  width: 100%;
  background-color: #eee;
  border-radius: 3px;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container input{
  border: none;
  outline: none;
  background: none;
}
.glass:hover{
  color: orangered;
  cursor: pointer;
}
.social-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-brands{
  font-size: 25px;
  margin: 0 10px;
  color: #333;
  cursor: pointer;
}
.fa-brands:hover{
  color: orangered;
}
.top{
  height: 60px;
  border-radius: 3px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.header{
  height: 200px;
  border-radius: 3px;
  background-color: #333;
  margin: 3vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header p{
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.box{
  margin: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 15px;
}
.img-box{
  width: 100%;
  height: 176px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images{
  max-height: 90%;
  max-width: 90%;
  object-fit: cover;
  object-position: center;
}
.button{
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}
h2{
  font-size: 20px;
  color: orangered;
}
button{
  width: 100%;
  position: relative;
  border: none;
  border-radius: 3px;
  background-color: #333;
  padding: 7px 25px;
  cursor: pointer;
  color: white;
}
button:hover{
  background-color: orangered;
}
::-webkit-scrollbar{
  display: none;
}